* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("images/main_bkgd.jpeg");
    background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-left: 70px;
    font-family: 'Bad Script', cursive;
    color: whitesmoke;
}

footer {
    text-align: right;
    font-family: 'Bad Script', cursive;
    color: whitesmoke;
    padding-top: 15px;
    padding-right: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 7px;
    font-family: 'Arsenal', sans-serif;
    font-size: 18px;
    margin: 45px 65px 45px 115px;
    padding: 35px;
    height: 375px;
    max-width: 650px;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    color: rgb(255, 109, 80);
}

h2 {
    font-size: 30px;
    line-height: 30px;
    padding-left: 80px;
}

h2#main {
    font-size: 25px;
    padding-left: 0px;
    margin-bottom: 5px;
}

h3 {
    font-size: 20px;
    padding-left: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

h4 {
    font-family: 'Bad Script', cursive;
    font-size: 30px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
    color: rgb(255, 109, 80);
}

button {
    padding: 5px;
    border-radius: 4px;
    background-color: lightgray;
}

input {
    padding: 5px;
    border-radius: 4px;
}

#spiritsDiv {
    color: whitesmoke;
    padding-left: 70px;
}

#spiritButtons {
    font-family: 'Arsenal', sans-serif;
    font-size: 25px;
}

#spiritButtons:hover {
    font-size: 32px;
    transition: 0.4s;
}

#drinkModal, #recipeModal, #spiritsModal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
}

#drinkModal, #recipeModal {
    background-image: url("images/blurr_bar.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#spiritsModal {
    background-image: url("images/spirits_bkgd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#spiritsPTag {
    max-width: 800px;
    background-color: whitesmoke;
    padding: 25px;
    border: 2px solid black;
    border-radius: 7px;
}

#drinkSection, #recipeSection, #spiritsSection {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}

#spiritsSection {
    justify-content: center;
    padding-top: 30px;
}
.card {
    border: 5px solid whitesmoke;
    width: 300px;
    height: auto;
    margin: 1rem;
}

.card h1 {
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
}

.card-body  {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 5px solid whitesmoke;
    justify-content: space-evenly;
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
}

.card-text span {
    font-size: 25px;
}

a {
    font-family: 'Arsenal', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    background-color: whitesmoke;
    padding: 15px;
}

@media screen and (max-width: 700px) {
   
   body {
       justify-content: center;
       align-items: center;
   }
    main {
      margin: 10px;
      padding: 10px;
      max-width: 360px;
    }
    header {
        padding: 10px; 
    }
    #spiritsDiv {
        padding: 10px;
        text-align: center;
    }
    h1, h2, h4 {
        text-align: center;
        padding: 0px;
    }
    .card-body {
        font-size: 16px;
    }
    .card-text span {
        font-size: 18px;
    }
  }

  @media screen and (max-width: 1027px) {
      h4 {
        color: whitesmoke;
      }
  }