* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    background-image: url("images/main_bkgd.jpeg");
    background-size: cover;
	background-repeat: no-repeat;
    min-height: 95vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

header, footer {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 30px;
}

header {
    color: whitesmoke;
    font-family: 'Bad Script', cursive;
    font-size: 55px;
    font-weight: bold;
}

footer {
    color: whitesmoke;
    text-align: right;
    margin-top: auto;
    padding-right: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 7px;
    background-color: whitesmoke;
    font-family: 'Arsenal', sans-serif;
    font-weight: bold;
    margin: 45px 85px 55px 105px;
    padding: 30px;
    height: 350px;
    max-width: 600px
}

h1 {
    font-size: 110px;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    line-height: 30px;
    padding-left: 50px;
    font-weight: bold;
}

h2#main {
    font-size: 25px;
    padding-left: 0px;
    margin-bottom: 5px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    padding-left: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}

h4 {
    font-family: 'Bad Script', cursive;
    font-size: 35px;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 20px;
    font-weight: bold;

}

#drinkModal, #recipeModal, #spiritsModal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
}

#drinkModal, #recipeModal {
    background-image: url("images/blurr_bar.png"); 
    background-size: cover;
    background-repeat: no-repeat;
}

#spiritsModal {
background-image: url("images/spirits_bkgd.jpg");
background-size: cover;
background-repeat: no-repeat;
}

#spiritsPTag {
    max-width: 800px;
    background-color: whitesmoke;
    padding: 25px;
    border: 2px solid black;
    border-radius: 7px;
}

#drinkSection, #recipeSection, #spiritsSection {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}

#spiritsSection {
    justify-content: left;
    padding-left: 100px;
}
.card {
    border: 2px solid black;
    height: 500px;
    width: 300px;
    margin: 1rem;
}

.card-img-top{
    border-bottom: 2px solid black;
}

.card h1 {
    font-size: 20px;
}

.card-body  {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
}

button {
    padding: 5px;
    border-radius: 4px;
    background-color: lightgray;
}

input {
    padding: 5px
}

a {
    color: whitesmoke;
    font-family: 'Arsenal', sans-serif;
    font-size: 25px;
    padding-top: 50px;
    padding-left: 30px;
}

/* a#closeSpiritsModal {
    color: black;
} */

#spirits {
    color: white;
}

#spiritButtons {
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
    padding-left: 30px;
}
#spiritButtons:hover {
    font-size: 32px;
    transition: 0.4s;
}


